<?xml version="1.0" encoding="UTF-8"?>


<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
      id="com.risingj.cordova.livetiles"
      version="0.1.0">
    <name>LiveTiles</name>
    <description>Cordova plugin for updating tiles on WP7 + WP8</description>
    <license>Apache 2.0</license>
    <keywords>cordova,live tiles</keywords>
    <repo>https://github.com/purplecabbage/livetiles</repo>
    <issue>https://github.com/purplecabbage/livetiles/issues</issue>

    <js-module src="www/livetiles.js" name="livetiles">
        <clobbers target="LiveTiles" />
    </js-module>
    
    <!-- android -->
    <!--<platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="" >
                <param name="android-package" value=""/>
            </feature>
        </config-file>
        <source-file src="" target-dir="" />
    </platform> -->

    <!-- amazon-fireos -->
    <!--<platform name="amazon-fireos">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="" >
                <param name="android-package" value=""/>
            </feature>
        </config-file>
        <source-file src="" target-dir="" />
    </platform> -->
    
    <!-- ubuntu -->
    <!-- <platform name="ubuntu">
        <header-file src="" />
        <source-file src="" />
    </platform> -->

    <!-- ios -->
    <!-- <platform name="ios">    
        <config-file target="config.xml" parent="/*">
            <feature name="">
                <param name="ios-package" value="" /> 
            </feature>
        </config-file>
        <header-file src="" />
	    <source-file src="" />
    </platform> -->

    <!-- blackberry10 -->
    <!-- <platform name="blackberry10">
    <source-file src="" target-dir="" />
        <config-file target="www/config.xml" parent="/widget">
            <feature name="" value=""/>
        </config-file>
    </platform> -->

    <!-- wp7 -->
    <platform name="wp7">
        <config-file target="config.xml" parent="/*">
            <feature name="LiveTiles">
                <param name="wp-package" value="LiveTiles"/>
            </feature>
        </config-file>

        <source-file src="src/wp/LiveTiles.cs" />
    </platform>

    <!-- wp8 -->
    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="LiveTiles">
                <param name="wp-package" value="LiveTiles"/>
            </feature>
        </config-file>
        <source-file src="src/wp/LiveTiles.cs" />
    </platform>
    
</plugin>
